.profile-box {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 6px;
    position: absolute;
    right: 100px;
    top: 100px;
}

.form-field {
    margin: 4px;
}

   .form-field .caption {
       display: inline-block;
       width: 100px;
   }

.edit-profile {
}
    .edit-profile .relatives-edit {
        display: inline-block;
    }
    
    .edit-profile .relatives-list .relative {
        list-style-type: none;
        padding: 0 1px 1px 0;
    }

    .edit-profile .relatives-list .relative-type {
        border: 1px solid lightgray;
        border-radius: 5px 0 0 5px;
        display: inline-block;
        padding: 1px 3px 1px 1px;
        text-align: right;
        min-width: 60px;
    }

    .edit-profile .relatives-list .relative-name {
        border: 1px solid lightgray;
        border-radius: 0 5px 5px 0;
        padding: 1px 1px 1px 3px;
        display: inline-block;
        min-width: 100px;
    }

/* Validation */

.required-label {
    color: red;
}

.validationMessage {
    background-color: #f03e00;
    color: white;
}

.customMessage {
    background-color: blueviolet;
    color: white;
}

.customYellowMessage {
    background-color: goldenrod;
    color: rgb(54, 47, 182);
}

/* custom-validation-2 */

.custom-validation-2 label {
    display: block;
}