<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <location path="demos">
    <system.webServer>
      <directoryBrowse enabled="true" />
    </system.webServer>
  </location>
  <system.webServer>     
    <httpErrors errorMode="Detailed" />      
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>